
table,th,td{
    border: 1px solid grey;
    text-align:center;
  } 
  
  th,td{
   
     padding:15px;
  }
  .body{
    font-family: 'Nunito Sans', sans-serif;
font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  b{
    display: flex;
    justify-content: center;
  }
  .mack
  {
   
    margin-left: 25px;
    font-weight: 900;
    font-size:30px;
    color:rgb(32, 31, 31);
  }

  

  .bold{
    font-weight: 900;
    
    color:rgb(83, 175, 21);
  }